{% extends 'story_6/layout.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center info my-4">
                    <h1 class="font-weight-bold">Daftar Semester</h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}