{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="d-flex align-items-center justify-content-center h2 block">
                Project 1
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="d-flex align-items-center justify-content-center h2 block">
                    Project 2
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 ">
                <div class="d-flex align-items-center justify-content-center h2 block">
                    Project 3
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="d-flex align-items-center justify-content-center h2 block">
                    Project 4
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="d-flex align-items-center justify-content-center h2 block">
                    Project 5
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="d-flex align-items-center justify-content-center h2 block">
                    Project 6
                </div>
            </div>
        </div>
    </div>
</body>
</html>