{% extends 'matkul/layout.html' %}
{% block content %}
    <div class='container'>
        <div class="jumbotron">
            <h1 class="display-4">{{course.nama_matkul}}</h1>
            <p class="lead my-3">{{course.deskripsi}}</p>
            <hr class="my-1">
            <p>{{course.kode_matkul}} ( {{course.jumlah_sks}} sks )</p>
            <p>Dosen : {{course.dosen_pengajar}}</p>
            <p>Ruangan: {{course.ruang_kelas}}</p>
        </div>
    </div>
{% endblock  %}